:root {
  --identy-color: #11a5fd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

canvas {
  display: block;
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.game__box__name {
  text-align: center;
}
.game__box__title {
  font-size: 4rem;
  overflow: hidden;
}
.identy-color {
  color: var(--identy-color);
}
.game__box__startButton {
  padding: 0.5em 1em;
  border: 0;
  font-size: 1.2rem;
  color: var(--identy-color);
  background-color: black;
  cursor: pointer;
  pointer-events: auto;
  animation-name: buttonAnimation;
  animation-duration: 2.6s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.social-network,
.lil-gui,
.lil-gui > * {
  pointer-events: auto;
}

.bybox {
  display: block;
  overflow: hidden;
  text-align: center;
}

.by {
  display: inline-block;
  animation-name: wordLeft;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}
.throw {
  display: inline-block;
  animation-name: wordUp;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}
.show {
  display: inline-block;
  animation-name: wordShow;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.ar {
  display: inline-block;
  animation-name: wordDown;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -20;
}
.game.is-hidden,
.loading.is-hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.loading__word > * {
  display: inline-block;
}

.loading__word > :nth-child(even) {
  animation-name: wordUpDown;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.loading__word > :nth-child(odd) {
  animation-name: wordUpDown;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.point {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}
.point__text {
  display: inline;
  padding: 0.2em;
  border-radius: 10%;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
.point__score {
  color: #10a5ff;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  background-color: black;
  color: white;
}
.btn--play--again {
  padding: 0.5em 1em;
  border: 0;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  cursor: pointer;
  pointer-events: auto;
}
@keyframes wordUpDown {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes wordUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wordUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wordDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wordShow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wordLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes buttonAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
